.detail-msg{
    width: 500px;
    height: 25px;
}
.detail-msg p{
    font-size: 20px;
    color: red;
}
.row .h500{
    height: 500px;
}
.detail-button{
    height: 50px;
}
.h700{
    height: 700px;
}