.container{
    width: 1000px;
}
.container .input{
    margin-left: 200px;
}
.container .input input{
    height: 40px;
    width: 70%;

}

.input{
    font-size: 20px;
    margin-top: 30px;
}
.input2 input{
    width: 126px;
    height: 46px;
    margin-top: 50px;
    font-size: 20px;
    margin-left: 200px;
    border: none;
}
.pwd-msg p{
    color: red;
    font-size: 20px;
    margin-left: 200px;
}
.user-row{
    margin: 0 auto;
}

.row-content{
    width: 300px;
    /*height: 750px;*/
    float: left;
    margin:10px 10px;
}
.row-content img{
    position: absolute;
    width: 270px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
.match-msg {
    box-shadow: 0 3px 5px rgba(85, 85, 85, 0.2);
}

.match-msg .button{
    color: black;
}
.match-title {
    position: relative;
}
.match-title p {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    font-size: 24px;
    padding-bottom: 20px;
    margin: 30px 20px;
    border-bottom: 1px dotted darkgrey;
}
.match-title:before {
    position: absolute;
    content: ' ';
    top: 5px;
    left: -5px;
    border: 10px solid transparent;
    border-left-color: #f36e3a;

}

.select-menu {
    width: 630px;
    height: 26px;
    margin: 50px auto 90px;
}
.select-menu ul {
    cursor: pointer;
    padding: 10px 38px;
    font-size: 16px;
    transition: .3s all;
}
.select-menu ul li {
    text-align: center;
    height: 25px;
    padding: 8px;
    color: #777777;
}
.select-menu ul.nav_orange {
    background-color: #f36e3a;
}
.select-menu ul.nav_orange li {
    color: white;
}

