
table{
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}
table td{
    border:1px solid #8080804a;
    margin: 0;
}
table .firstTd{
    line-height: 100px;
    width: 200px;
    height: 100px;
}