
.select-menu{
    width: 683px;
    height: 100px;
    margin: 0 auto;
}
.select-menu ul{
    margin-right: 100px;
    font-size: 25px;
}
.select-menu ul li{
    height: 25px;
    /*margin-top: 10px;*/
}
.container{
    width: 1000px;
    height: 500px;
}
.container .input{
    margin-left: 200px;
}
.container .input input{
    height: 40px;
    width: 70%;

}
.colorchange1{
    background-color: #f3be86;
}
.input{
    font-size: 20px;
    margin-top: 30px;
}
.input2 input{
    width: 126px;
    height: 46px;
    margin-top: 50px;
    background-color: #baf0ff;
    font-size: 20px;
    margin-left: 200px;
}
.pwd-msg p{
    color: red;
    font-size: 20px;
}
.user-row{
    height: 600px;
    margin: 0 auto;
}

.row-content{
    width: 300px;
    height: 550px;
    border: 1px solid rgb(0,0,0.1);
    float: left;
    margin:10px 10px;
}
.row-content img{
    width: 300px;
    height: 400px;
}
.match-msg h3 a{

}
.match-msg .button{
color: black;
}
.match-msg p{

}