
.select-menu{
    width: 783px;
    height: 100px;
    margin: 50px auto 40px;
}
.select-menu ul{
    margin:0 39px;
    font-size: 25px;
}
.select-menu ul li{
    text-align: center;
    height: 25px;
    padding: 8px;
    /*margin-top: 10px;*/
    color: #777777;
    /*text-shadow: 1px 1px 0 #fdfdfd, 2px 2px 0 rgba(81, 81, 81, 0.5), 0 0 1px #fdfdfd;*/
}
.container{
    width: 1000px;
}
.container .input{
    margin-left: 200px;
}
.container .input input{
    height: 40px;
    width: 70%;

}
.colorchange1{
    background-color: #eeb97b;
}
.input{
    font-size: 20px;
    margin-top: 30px;
}
.input2 input{
    width: 126px;
    height: 46px;
    margin-top: 50px;
    font-size: 20px;
    margin-left: 200px;
    border: none;
}
.pwd-msg p{
    color: red;
    font-size: 20px;
    margin-left: 200px;
}
.user-row{
    height: 800px;
    margin: 0 auto;
}

.row-content{
    width: 300px;
    /*height: 750px;*/
    float: left;
    margin:10px 10px;
}
.row-content img{
    position: absolute;
    width: 270px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
.match-msg {
    box-shadow: 0 3px 5px rgba(85, 85, 85, 0.2);
}

.match-msg h3 a{

}
.match-msg .button{
color: black;
}
.match-msg p{

}
.match-title p{
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    text-shadow: 1px 1px 0 #fdfdfd, 2px 2px 0 rgba(81, 81, 81, 0.5), 0 0 1px #fdfdfd;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

